In [ ]:
# # https://www.omdbapi.com/
# # Loop through the movielens movies

# # curl http://www.omdbapi.com/?t={title}&y={year}&plot=full

# # extract the data from json return result

# https://www.imdb.com/title/tt32916093/?ref_=ls_t_5

# tt32916093

# ##waig for reading from API

# https://www.omdbapi.com/

In [23]:
def clean_the_title(title):
    # Check if the title is a string and ends with ", The"
    if isinstance(title, str) and title.endswith(", The"):
        return title.replace(", The", "")
    return title

In [251]:
import pandas as pd
import requests

movies_path = 'movies.dat'
# Load your MovieLens dataset (e.g., a CSV file)
# Replace with the path to your MovieLens file
movies_df = pd.read_csv(movies_path, sep='::', header=None, names=['MovieID', 'Title', 'Genres'], encoding='ISO-8859-1')

movies_df['Year'] = movies_df['Title'].str.extract(r'\((\d{4})\)', expand=False)
movies_df['Clean_Title'] = movies_df['Title'].str.extract(r'^(.*) \(\d{4}\)$', expand=False)
movies_df['Cleaned_Title'] = movies_df['Clean_Title'].apply(clean_the_title)
    
movies_df.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_15812\1442434013.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies_df = pd.read_csv(movies_path, sep='::', header=None, names=['MovieID', 'Title', 'Genres'], encoding='ISO-8859-1')

,MovieID,Title,Genres,Year,Clean_Title,Cleaned_Title
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story,Toy Story
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995,Jumanji,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama,1995,Waiting to Exhale,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II,Father of the Bride Part II

In [63]:
movies_one = movies_df.query("Cleaned_Title == 'American President'")
movies_one

,MovieID,Title,Genres,Year,Clean_Title,Cleaned_Title
10,11,"American President, The (1995)",Comedy|Drama|Romance,1995,"American President, The",American President

In [215]:
movies_one = movies_df.query("MovieID >=1 and MovieID <= 999")
movies_one

,MovieID,Title,Genres,Year,Clean_Title,Cleaned_Title
0,1,Toy Story (1995),Animation|Children's|Comedy,1995,Toy Story,Toy Story
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995,Jumanji,Jumanji
2,3,Grumpier Old Men (1995),Comedy|Romance,1995,Grumpier Old Men,Grumpier Old Men
3,4,Waiting to Exhale (1995),Comedy|Drama,1995,Waiting to Exhale,Waiting to Exhale
4,5,Father of the Bride Part II (1995),Comedy,1995,Father of the Bride Part II,Father of the Bride Part II
...,...,...,...,...,...,...
982,994,Big Night (1996),Drama,1996,Big Night,Big Night
983,996,Last Man Standing (1996),Action|Drama|Western,1996,Last Man Standing,Last Man Standing
984,997,Caught (1996),Drama|Thriller,1996,Caught,Caught
985,998,Set It Off (1996),Action|Crime,1996,Set It Off,Set It Off
986,999,2 Days in the Valley (1996),Crime,1996,2 Days in the Valley,2 Days in the Valley

In [217]:
movies_two = movies_df.query("MovieID >=1000 and MovieID <= 1999")
movies_two

,MovieID,Title,Genres,Year,Clean_Title,Cleaned_Title
987,1000,Curdled (1996),Crime,1996,Curdled,Curdled
988,1001,"Associate, The (L'Associe)(1982)",Comedy,1982,NaN,NaN
989,1002,Ed's Next Move (1996),Comedy,1996,Ed's Next Move,Ed's Next Move
990,1003,Extreme Measures (1996),Drama|Thriller,1996,Extreme Measures,Extreme Measures
991,1004,"Glimmer Man, The (1996)",Action|Thriller,1996,"Glimmer Man, The",Glimmer Man
...,...,...,...,...,...,...
1926,1995,Poltergeist II: The Other Side (1986),Horror|Thriller,1986,Poltergeist II: The Other Side,Poltergeist II: The Other Side
1927,1996,Poltergeist III (1988),Horror|Thriller,1988,Poltergeist III,Poltergeist III
1928,1997,"Exorcist, The (1973)",Horror,1973,"Exorcist, The",Exorcist
1929,1998,Exorcist II: The Heretic (1977),Horror,1977,Exorcist II: The Heretic,Exorcist II: The Heretic
1930,1999,"Exorcist III, The (1990)",Horror,1990,"Exorcist III, The",Exorcist III

In [253]:
movies_three = movies_df.query("MovieID >=2000 and MovieID <= 2999")
movies_three

,MovieID,Title,Genres,Year,Clean_Title,Cleaned_Title
1931,2000,Lethal Weapon (1987),Action|Comedy|Crime|Drama,1987,Lethal Weapon,Lethal Weapon
1932,2001,Lethal Weapon 2 (1989),Action|Comedy|Crime|Drama,1989,Lethal Weapon 2,Lethal Weapon 2
1933,2002,Lethal Weapon 3 (1992),Action|Comedy|Crime|Drama,1992,Lethal Weapon 3,Lethal Weapon 3
1934,2003,Gremlins (1984),Comedy|Horror,1984,Gremlins,Gremlins
1935,2004,Gremlins 2: The New Batch (1990),Comedy|Horror,1990,Gremlins 2: The New Batch,Gremlins 2: The New Batch
...,...,...,...,...,...,...
2926,2995,"House on Haunted Hill, The (1999)",Horror,1999,"House on Haunted Hill, The",House on Haunted Hill
2927,2996,Music of the Heart (1999),Drama,1999,Music of the Heart,Music of the Heart
2928,2997,Being John Malkovich (1999),Comedy,1999,Being John Malkovich,Being John Malkovich
2929,2998,Dreaming of Joseph Lees (1998),Romance,1998,Dreaming of Joseph Lees,Dreaming of Joseph Lees
2930,2999,Man of the Century (1999),Comedy,1999,Man of the Century,Man of the Century

In [263]:
movies_four = movies_df.query("MovieID >=3000")
movies_four

,MovieID,Title,Genres,Year,Clean_Title,Cleaned_Title
2931,3000,"Princess Mononoke, The (Mononoke Hime) (1997)",Action|Adventure|Animation,1997,"Princess Mononoke, The (Mononoke Hime)","Princess Mononoke, The (Mononoke Hime)"
2932,3001,"Suburbans, The (1999)",Drama,1999,"Suburbans, The",Suburbans
2933,3002,My Best Fiend (Mein liebster Feind) (1999),Documentary,1999,My Best Fiend (Mein liebster Feind),My Best Fiend (Mein liebster Feind)
2934,3003,Train of Life (Train De Vie) (1998),Comedy|Drama,1998,Train of Life (Train De Vie),Train of Life (Train De Vie)
2935,3004,"Bachelor, The (1999)",Comedy|Romance,1999,"Bachelor, The",Bachelor
...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,2000,Meet the Parents,Meet the Parents
3879,3949,Requiem for a Dream (2000),Drama,2000,Requiem for a Dream,Requiem for a Dream
3880,3950,Tigerland (2000),Drama,2000,Tigerland,Tigerland
3881,3951,Two Family House (2000),Drama,2000,Two Family House,Two Family House
3882,3952,"Contender, The (2000)",Drama|Thriller,2000,"Contender, The",Contender

In [223]:
# import requests

# def fetch_movie_data(title, year, api_key='5d177d0b'):
#     url = f"http://www.omdbapi.com/?t={title}&y={year}&plot=full&apikey={api_key}"
#     response = requests.get(url)
#     if response.status_code == 200:
#         data = response.json()
#         if data.get('Response', 'False') == 'True':
#             return data
#         else:
#             print(f"No data found for {title} ({year}): {data.get('Error')}")
#             return None
#     else:
#         print(f"Failed to fetch data for {title} ({year}): {response.status_code}")
#         return None

# movie_data = fetch_movie_data('American President', 1995, api_key='5d177d0b')

In [265]:
# Define a function to fetch data from the OMDb API

# http://www.omdbapi.com/apikey.aspx --to get API key
# import urllib.parse

# ee4bfde --waiwailwin.sheet (API Key)
# 8c82f4b8 --suzannewaiwai.wwl (API Key)
# 5d177d0b --waiwailwin.suzanne (API Key)
# 831b1740 --waiwai.feb19 (API Key)

def fetch_movie_data(title, year, api_key='8c82f4b8'):
    # encoded_title = urllib.parse.quote(title)
    url = f"http://www.omdbapi.com/?t={title}&y={year}&plot=full&apikey={api_key}"
    response = requests.get(url)
    return response.json()
    # if response.status_code == 200:
    #     return response.json()
    # else:
    #     return None

In [271]:
# movie_data = fetch_movie_data('Brothers McMullen, The', 1995)
movies_four

,MovieID,Title,Genres,Year,Clean_Title,Cleaned_Title
2931,3000,"Princess Mononoke, The (Mononoke Hime) (1997)",Action|Adventure|Animation,1997,"Princess Mononoke, The (Mononoke Hime)","Princess Mononoke, The (Mononoke Hime)"
2932,3001,"Suburbans, The (1999)",Drama,1999,"Suburbans, The",Suburbans
2933,3002,My Best Fiend (Mein liebster Feind) (1999),Documentary,1999,My Best Fiend (Mein liebster Feind),My Best Fiend (Mein liebster Feind)
2934,3003,Train of Life (Train De Vie) (1998),Comedy|Drama,1998,Train of Life (Train De Vie),Train of Life (Train De Vie)
2935,3004,"Bachelor, The (1999)",Comedy|Romance,1999,"Bachelor, The",Bachelor
...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,2000,Meet the Parents,Meet the Parents
3879,3949,Requiem for a Dream (2000),Drama,2000,Requiem for a Dream,Requiem for a Dream
3880,3950,Tigerland (2000),Drama,2000,Tigerland,Tigerland
3881,3951,Two Family House (2000),Drama,2000,Two Family House,Two Family House
3882,3952,"Contender, The (2000)",Drama|Thriller,2000,"Contender, The",Contender

In [273]:
# Create a list to store movie data
movie_data_list = []

# Loop through each movie in the dataset
for index, row in movies_four.iterrows():
    movieid = row['MovieID']
    title = row['Cleaned_Title']
    year = row['Year']  # Adjust the column name according to your dataset

    # Fetch data from OMDb API
    movie_data = fetch_movie_data(title, year)
    
    if movie_data and movie_data.get('Response') == 'True':
        # Extract relevant information
        movie_info = {
            'MovieID' : movieid,
            'Title': movie_data.get('Title'),
            'Year': movie_data.get('Year'),
            'Rated': movie_data.get('Rated'),
            'Released': movie_data.get('Released'),
            'Runtime': movie_data.get('Runtime'),
            'Genre': movie_data.get('Genre'),
            'Director': movie_data.get('Director'),
            'Writer': movie_data.get('Writer'),
            'Actors': movie_data.get('Actors'),
            'Plot': movie_data.get('Plot'),
            'Language': movie_data.get('Language'),
            'Country': movie_data.get('Country'),
            'Awards': movie_data.get('Awards'),
            'Poster': movie_data.get('Poster'),
            'Metascore': movie_data.get('Metascore'),
            'imdbRating': movie_data.get('imdbRating'),
            'imdbVotes': movie_data.get('imdbVotes'),
            'imdbID': movie_data.get('imdbID'),
            'Type': movie_data.get('Type'),
            'DVD': movie_data.get('DVD'),
            'BoxOffice': movie_data.get('BoxOffice'),
            'Production': movie_data.get('Production'),
            'Website': movie_data.get('Website')
        }
        movie_data_list.append(movie_info)

# Create a DataFrame from the list of movie data
movies_omdb_df = pd.DataFrame(movie_data_list)


# Save the data to a CSV file (optional)
movies_omdb_df.to_csv('movies_four.csv', index=False)

# Display the first few rows of the DataFrame
print(movies_four.head())

      MovieID                                          Title  \
2931     3000  Princess Mononoke, The (Mononoke Hime) (1997)
2932     3001                          Suburbans, The (1999)
2933     3002     My Best Fiend (Mein liebster Feind) (1999)
2934     3003            Train of Life (Train De Vie) (1998)
2935     3004                           Bachelor, The (1999)

                          Genres  Year  \
2931  Action|Adventure|Animation  1997
2932                       Drama  1999
2933                 Documentary  1999
2934                Comedy|Drama  1998
2935              Comedy|Romance  1999

                                 Clean_Title  \
2931  Princess Mononoke, The (Mononoke Hime)
2932                          Suburbans, The
2933     My Best Fiend (Mein liebster Feind)
2934            Train of Life (Train De Vie)
2935                           Bachelor, The

                               Cleaned_Title
2931  Princess Mononoke, The (Mononoke Hime)
2932                               Suburbans
2933     My Best Fiend (Mein liebster Feind)
2934            Train of Life (Train De Vie)
2935                                Bachelor